<footer class="footer">
  <p> Page was created with the help of <a href="https://docs.antora.org/antora/latest/">Antora</a>
  using the default <a href="https://docs.antora.org/antora-ui-default/">default UI</a>.</p>
</footer>